Config { font = "xft:Liberation Mono:pixelsize=12" -- tbh I haven't even compiled xmobar with xft because I like the default font. So yeah this does nothing.
	, bgColor = "#2E3440"
	, fgColor = "#D6B6CA"
        , position = Top
	, lowerOnStart = True
	, hideOnStart = False
	, allDesktops = True
	, persistent = True
        , commands = [ Run Network "enp3s0" ["-L","0","-H","30","--normal","#D6B6CA","--high","#C97799"] 10
                     , Run Cpu ["-L","3","-H","50","--normal","green","--high","red"] 10
                     , Run Memory ["-t","Mem: <usedratio>%"] 10
                     , Run Swap [] 10
                     , Run DiskU [("/", "/: <used>/<size>"), ("sda4", "<usedbar>")] ["-L", "20", "-H", "50", "-m", "1", "-p", "3"] 60
                     , Run Com "uname" ["-s","-r"] "" 36000
                     , Run Com "sh" ["/home/skye/bin/currentxkbmap"] "kb" 10
                     , Run Date "%a %b %_d %Y %H:%M:%S" "date" 10
                     , Run StdinReader
                     ]
        , sepChar = "%"
        , alignSep = "}{"
        , template = "%StdinReader% | %disku% | %cpu% | %memory% * %swap% | %enp3s0% }{ %date% | %kb% | %uname% "
        }

