<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">

<menu id="apps-editors-menu" label="editors">
    <item label="atom">
        <action name="Execute">
            <command>atom</command>
        </action>
    </item>
</menu>

<menu id="apps-fun-menu" label ="fun">
    <item label="steam">
        <action name="Execute">
            <command>steam</command>
        </action>
    </item>
</menu>

<menu id="apps-net-menu" label="internet">
    <item label="surf">
        <action name="Execute">
            <command>tabbed surf -pe</command>
        </action>
    </item>
    <item label="discordcanary">
        <action name="Execute">
            <command>discordcanary</command>
        </action>
    </item>
    <item label="spotify">
        <action name="Execute">
            <command>spotify</command>
        </action>
    </item>
    <item label="bitwarden">
        <action name="Execute">
            <command>bitwarden</command>
        </action>
    </item>
</menu>

<menu id="apps-graphics-menu" label="g/mm">
    <item label="gthumb">
        <action name="Execute">
            <command>gthumb</command>
        </action>
    </item>
    <item label="obs">
        <action name="Execute">
            <command>obs</command>
        </action>
    </item>
    <item label="vlc">
        <action name="Execute">
            <command>vlc</command>
        </action>
    </item>
    <item label="krita">
        <action name="Execute">
            <command>krita</command>
        </action>
    </item>
    <item label="aseprite">
        <action name="Execute">
            <command>aseprite</command>
        </action>
    </item>
</menu>

<menu id="system-menu" label="system">
    <item label="xfe">
        <action name="Execute">
            <command>xfe</command>
        </action>
    </item>
    <item label="setxkbmap us">
        <action name="Execute">
            <command>setxkbmap us</command>
        </action>
    </item>
    <item label="setxkbmap fi">
        <action name="Execute">
            <command>setxkbmap fi</command>
        </action>
    </item>
    <item label="Openbox Configuration Manager">
        <action name="Execute">
            <command>obconf</command>
        </action>
    </item>
    <separator />
    <item label="Reconfigure Openbox">
        <action name="Reconfigure" />
    </item>
</menu>

<menu id="root-menu" label="Openbox 3">
    <separator label="applications" />
    <menu id="apps-fun-menu" />
    <menu id="apps-editors-menu"/>
    <menu id="apps-graphics-menu"/>
    <menu id="apps-net-menu"/>
    <separator label="system" />
    <menu id="system-menu"/>
    <separator />
    <item label="terminal">
        <action name="Execute">
            <command>st</command>
        </action>
    </item>
    <seperator />
    <item label="log out">
        <action name="Exit">
            <prompt>yes</prompt>
        </action>
    </item>
</menu>

</openbox_menu>

